<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawLineChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0C9A6A11CC69FB400DA71C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C9A6BA1CC69FB400DA71C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C9A6C51CC69FB400DA71C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
